<img src="assets/theme_icon_light.png" class="js-toggle-theme" style="height: 3rem; align-self: center; padding: 1rem; box-sizing: border-box;" alt="Change theme">

<script>
    const toggleTheme = document.querySelector('.js-toggle-theme');

    let theme = localStorage.getItem('theme');
    if (theme != "" && theme == "dark") {
        jtd.setTheme('dark');
        toggleTheme.src="assets/theme_icon_dark.png"
    } else if (theme != "" && theme == "light"){
        jtd.setTheme('light');
        toggleTheme.src="assets/theme_icon_light.png"
    }

    jtd.addEvent(toggleTheme, 'click', function(){
    if (jtd.getTheme() === 'dark') {
        localStorage.setItem("theme", "light");
        jtd.setTheme('light');
        toggleTheme.src="assets/theme_icon_light.png"
    } else {
        localStorage.setItem("theme", "dark");
        jtd.setTheme('dark');
        toggleTheme.src="assets/theme_icon_dark.png"
    }
    });
</script>