<img src="assets/theme_icon_light.png" class="js-toggle-theme" style="height: 3rem; align-self: center; padding: 1rem; box-sizing: border-box;" alt="Change theme">

<script>
    const toggleTheme = document.querySelector('.js-toggle-theme');

    function setTheme(theme) {
        localStorage.setItem("theme", theme);
        jtd.setTheme(theme);
        toggleTheme.src=`assets/theme_icon_${theme}.png`
    }

    let theme = localStorage.getItem('theme');
    if (theme != "") {
        theme == "light" ? () => {setTheme("light")} : () => {setTheme("dark");}
    }

    jtd.addEvent(toggleTheme, 'click', function(){
        jtd.getTheme() == "light" ? () => {setTheme("dark")} : () => {setTheme("light");}
    });
</script>