<img src="assets/theme_icon_light.png" class="js-toggle-theme" style="height: 3rem; align-self: center; padding: 1rem; box-sizing: border-box;" alt="Change theme">

<script>
    function getCookie(cname) {
        let name = cname + "=";
        let ca = document.cookie.split(';');
        for(let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
            c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    const toggleTheme = document.querySelector('.js-toggle-theme');

    let theme = getCookie("theme");
    if (theme != "" && theme == "dark") {
        jtd.setTheme('dark');
        toggleTheme.src="assets/theme_icon_dark.png"
    } else if (theme != "" && theme == "light"){
        jtd.setTheme('light');
        toggleTheme.src="assets/theme_icon_light.png"
    }

    jtd.addEvent(toggleTheme, 'click', function(){
    if (jtd.getTheme() === 'dark') {
        document.cookie = "theme=light";
        jtd.setTheme('light');
        toggleTheme.src="assets/theme_icon_light.png"
    } else {
        document.cookie = "theme=dark";
        jtd.setTheme('dark');
        toggleTheme.src="assets/theme_icon_dark.png"
    }
    });
</script>